<%= stylesheet_link_tag 'homepage' %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AgileCli</title>
    <meta name="author" content="Andrew Berendeev">
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top background-header">
      <a class="navbar-brand" href="/">AgileCli</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="blask" href="#start">Quick start</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <button class="btn btn-git"><a class="blask-git" href="https://github.com/login/oauth/authorize?client_id=<%= CLIENT_ID %>">Sign In with GitHub</a></button>
        </form>
      </div>
    </nav>
  </header>
  <main role="main">
    <hr class="featurette-divider">
    <hr class="featurette-divider">
<div class="background-color-image" align='center'>
  <img src="a.png" alt="" width="100%" >
</div>

    <br>

    <div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What is a software development process? <span class="text-muted">What instruments are used to manage it?</span></h2>
          <p class="lead">  The answer is not simple. The development process can seem to be easy: team gets some tasks and manages to get them done. But this scenario is appropriate only for small projects.</><p class="lead"> Bigger products need more complicated solutions.</p>
        </div>
        <div class="col-md-5 crop-container">
          <img src="task.png" alt="" width="350" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <p class="lead">Just as a human being development process should be stable. Everything in it should work cyclically. Breakdowns indicate any inner problems.  <p class="lead">It's quite easy to find this problem if the project is small. But not for bigger product development which involves many working teams. <p class="lead">This leads to the need for convenient instruments for managing team productivity. There are plenty of them on the market, but not everyone works great.</p>
        </div>
        <div class="col-md-5 order-md-1 crop-container">
          <img src="agile.png" alt="" width="300" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <br>
          <p class="lead">AgileCli is the most concise command line interface which offers you many custom tools. You can manage your work according to Scrum methodology: track your tasks and events, so can your team-members.<p class="lead"> And everything can be done in the terminal! It's a tool for real hardcore programmers, isn't it? :)</p>
        </div>
        <div class="col-md-5 crop-container">
          <img src="terminal.png" alt="" width="350" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="" align='center'>
        <a class="btn btn-secondary" href="/manifesto/agile" role="button">Manifesto</a>
        <a class="btn btn-secondary" href="/dictionary/dictionary" role="button">Dictionary</a>
        <a name='start' class="btn btn-secondary" href="/homepage/start" role="button">How To Start</a>
      </div>

      <hr class="featurette-divider">

      <div class="row">

        <div class="col-lg-4">
          <h2><img src="mark-github.svg" width="35" height="35" alt="github"> GitHub</h2>
          <p><a class="btn btn-secondary" href="https://github.com/rubizza-camp/AgileCli" role="button">View Client &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <h2><img src="ruby.svg" width="35" height="35" alt="">Rubygems</h2>
          <p><a class="btn btn-secondary" href="https://rubygems.org/gems/agile-cli" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <h2>Rubizza</h2>
          <p><a class="btn btn-secondary" href="https://rubizza.com/" role="button">View details &raquo;</a></p>
        </div>

      </div>
    </div>


    <nav class="navbar navbar-expand-md navbar-dark fixed-bot bg-dark-footer">
    <footer class="container">
      <p class="navbar-brand">AgileCli &copy; 2019 Rubizza &middot; <a href="https://github.com/rubizza-camp/AgileCli/blob/master/LICENSE">Terms</a></p>
      <p class="float-right"><a class="btn btn-secondary" href="#" role="button" >Back to top</a></p>
    </footer>
    </nav>

  </main>
  </body>
</html>
