<%= stylesheet_link_tag 'homepage' %>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top background-header">
      <a class="navbar-brand" href="/">AgileCli</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="blask" href="#start">Quick start</a>
          </li>
        </ul>
        <% if current_user %>
          <button class="btn btn-git"><a class="blask-git" href="/personal_area/cabinet">Your profile</a></button>
        <% else %>
        <form class="form-inline mt-2 mt-md-0">
          <button class="btn btn-git"><a class="blask-git" href="https://github.com/login/oauth/authorize?client_id=<%= CLIENT_ID %>">Sign In with GitHub</a></button>
        </form>
        <% end %>
      </div>
    </nav>
  </header>
  <%= react_component("Homepage") %>
