<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fast start</title>
    <%= stylesheet_link_tag 'start' %>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top background-header">
      <a class="navbar-brand" href="/">AgileCli</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </nav>
  </header>
  <main role="main">
    <br>
    <br>
    <div class="container marketing">
      <br>
      <br>
      <div class="row featurette">
      <p>  Installing agile-cli </>

      <p>To install AgileCli, use the gem install command provided by RubyGems: </>
      <code>$ gem install agile-cli</code>

    <p>  To verify that you have everything installed correctly, you should be able to run the following:
      <code> $ agile version</code>
      If it says something like «agile 0.0.12», you are ready to continue.</>

      <p>To get started, you must specify the server on which you will work. Use the <code> $ agile init REMOTE_URL</code></p>


      <p>Use the agile login command to log :
        <code>$ agile login</code>
      Enter your secret code:</p>

      This command opens your web browser to the Github login page. This authentication is required for   agile  commands to work correctly.

      Creating the Project

      To get a list of commands to work with projects , use agile projects

      To create a new project, use <code>  $ agile projects create  "project name"</code>

      To get a list of commands to work with events , use <code> $ agile events</code>
      To get a list of commands to work with tickets , use <code>$ agile tickets</code>
      </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-bot bg-dark-footer">
      <footer class="container">
        <p class="navbar-brand">AgileCli &copy; 2019 Rubizza &middot; <a href="https://github.com/rubizza-camp/AgileCli/blob/master/LICENSE">Terms</a></p>
        <p class="float-right"><a class="btn btn-secondary" href="#" role="button" >Back to top</a></p>
      </footer>
    </nav>

  </main>
  </body>
</html>
