<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fast start</title>
    <%= stylesheet_link_tag 'start' %>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top background-header">
      <a class="navbar-brand" href="/">AgileCli</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </nav>
    </header>
    <%# <%= react_component("Header") %> %>
    <br>
    <br>
    <h1 align='center'>  Installing agile-cli </h1>
    <div class="container marketing">
      <br>
      <br>

      <p>To install AgileCli, use the gem install command provided by RubyGems:</p>
      <p class='margin'><code>$ gem install agile-cli</code></p>
      <p>To verify that you have everything installed correctly, you should be able to run the following:</p>
      <p class='margin'><code> $ agile version</code><p/>
      <p>If it says something like «agile 0.0.12», you are ready to continue.</p>
      <br>
      <p>To get started, you must specify the server on which you will work. Use the:</p>
      <p class='margin'><code> $ agile init REMOTE_URL</code></p>
      <p>Use the agile login command to log :</p>
      <p class='margin'><code>$ agile login</code></p>
      <p>This command opens your web browser to the Github login page. This authentication is required for   agile  commands to work correctly.</p>
      <p>Creating the Project. To get a list of commands to work with projects use </p>
      <p class='margin'><code>$ agile projects</code></p>
      <p>To create a new project, use </p>
      <p class='margin'><code>$ agile projects create  "project name"</code></p>
      <p>To get a list of commands to work with events , use </p>
      <p class='margin'><code> $ agile events</code></p>
      <p>To get a list of commands to work with tickets , use</p>
      <p class='margin'><code>$ agile tickets</code></p>
      <br>
    </div>
    <br>

    <nav class="navbar navbar-expand-md navbar-dark fixed-bot bg-dark-footer">
      <footer class="container">
        <p class="navbar-brand">AgileCli &copy; 2019 Rubizza &middot; <a href="https://github.com/rubizza-camp/AgileCli/blob/master/LICENSE">Terms</a></p>
      </footer>
    </nav>
  </body>
</html>
