<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fast start</title>
    <%= stylesheet_link_tag 'start' %>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top jepa">
      <a class="navbar-brand" href="/">AgileCli</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <button class="btn btn-secondary">GitHub</button>
        </form>
      </div>
    </nav>
  </header>
  <main role="main">
    <hr class="featurette-divider">
    <hr class="featurette-divider">

<div class="">
  <img src="check.png" alt="">
</div>

    <nav class="navbar navbar-expand-md navbar-dark fixed-bot bg-dark-footer">
      <footer class="container">
        <p class="navbar-brand">AgileCli &copy; 2019 Rubizza. &middot; <a href="https://github.com/rubizza-camp/AgileCli/blob/master/LICENSE">Terms</a></p>
        <p class="float-right"><a class="btn btn-secondary" href="#" role="button" >Back to top</a></p>
      </footer>
    </nav>

  </main>
  </body>
</html>
