<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style=" background-color: #f1684e; color: #1b1b1b; min-height: 270px; font-size: 20px">
    <div style="margin: 5%;" align="center">
      <h1>Hi, <%= @user.github_login %>!</h1>
      <p>
        You have been successfully registered in Agile-CLI system.
        We glad to see you in our community.<br>
        Click <a style="text-decoration: none; color: #e4e4e4;" href="https://agile-cli.herokuapp.com">Here</a> to get more information about us.
      </p>
      <br>
      <div>
        <a style="padding: 0.375rem 0.75rem; text-align: center; border-radius: 3px; text-decoration: none; background-color: #1b1b1b; border: 1px solid transparent; border-color: #1b1b1b; color: #e4e4e4;" href="https://github.com/rubizza-camp/AgileCli" role="button">GitHub</a>
        <a style="padding: 0.375rem 0.75rem; text-align: center; border-radius: 3px; text-decoration: none; background-color: #1b1b1b; border: 1px solid transparent; border-color: #1b1b1b; color: #e4e4e4;" href="https://rubygems.org/gems/agile-cli" role="button">Rubygems</a>
        <a style="padding: 0.375rem 0.75rem; text-align: center; border-radius: 3px; text-decoration: none; background-color: #1b1b1b; border: 1px solid transparent; border-color: #1b1b1b; color: #e4e4e4;" href="https://rubizza.com/" role="button">Rubizza</a>
      </div>

    </div>
  </body>
</html>
