<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AgileCli</title>
    <%= stylesheet_link_tag 'dictionary' %>
</head>

<body>
  <header>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">AgileCli</a>
    </nav>
  </header>
  <form>
    <fieldset class="content">
      <legend>Content</<legend>
      <div>
        <p><a href="#top">Definition of scrum</a></p>
        <p><a href="#top">The Scrum Team</a></p>
        <p><a href="#top">Scrum Events</a></p>
        <p><a href="#top">Scrum Artifacts</a></p>
      </div>
    </fieldset>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p><a name="top"></a></p>
     <p>Друг уронил утюг в унитаз. И разбил его. Не утюг разбил, а унитаз.
     Причем так разбил, что по назначению унитаз и использовать никак
     нельзя, ни боком, ни передом. Мгновением назад только
     что вот все было хорошо и вот уже дыра прямо в унитазе,
     да такая, что можно забыть, что есть такой предмет в
     доме. Махнул рукой нечаянно, а потом мучайся...
</body>
</html>
