// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1
 {
  font-family: "Times New Roman", Times, serif;
  font-size: 180%;
  text-align: center;
 }

p
 {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  text-align: center;
 }
