// Place all the styles related to the Manifesto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-text-color: #1b1b1b;
$body-background-color: #e4e4e4;
$stange-color: #f1684e;
$another-color: #1d1f21;
$unknown-color: rgba(255,255,255,0.3);

@font-face {
  font-family: futur;
  src: asset-url('futura/futur.ttf');
}

.form {
  padding-left: 1%;
}

.content {
  padding-left: 1%;
  width: 30%;
  border: 1px solid green;
  border-radius: 6px;
  background-color: $body-text-color
}

a {
  color: $stange-color
}

a:hover {
  color: #e4e4e4
}

.content legend {
  font: futur;
  font-weight: normal;
  color: brown;
}

body {
  font: futur;
  background-color: #e4e4e4;
  color: $body-text-color;
}

.items {
  width: 100%;
  margin-left: 20px;
}

.item {
  padding-left: 5px;
}

// a {
//     color: #e4e4e4;
//     text-decoration: none;
//     background-color: transparent;
// }

.bg-dark-footer {
  background-color: $body-text-color !important;
}

.bg-dark {
  background-color: $stange-color !important;
}

.PO {
  padding-left: 30px;
}

.bg-dark {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: $another-color;
  box-shadow: inset 0 -2px 0 0 $unknown-color;
  background-color: $stange-color !important;
}
