// Place all the styles related to the Manifesto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: futur;
  src: asset-url('futura/futur.ttf');
}

.form {
  padding-left: 1%;
}

.content {
  padding-left: 1%;
  width: 30%;
  border: 1px solid green;
  border-radius: 6px;
  background-color: #1b1b1b
}

a {
  color: #f1684e
}

a:hover {
  color: #e4e4e4
}

.content legend {
  font: futur;
  font-weight: normal;
  color: brown;
}

body {
  font: futur;
  background-color: #e4e4e4;
  color: #1b1b1b;
}

.items {
  width: 100%;
  margin-left: 20px;
}

.item {
  padding-left: 5px;
}

// a {
//     color: #e4e4e4;
//     text-decoration: none;
//     background-color: transparent;
// }

.bg-dark-footer {
  background-color: #1b1b1b !important;
}

.bg-dark {
  background-color: #f1684e !important;
}

.PO {
  padding-left: 30px;
}

.bg-dark {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #1d1f21;
  box-shadow: inset 0 -2px 0 0 rgba(255,255,255,0.3);
  background-color: #f1684e !important;
}
