// Place all the styles related to the Manifesto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-text-color: #1b1b1b;
$body-background-color: #e4e4e4;
$stange-color: #f1684e;
$another-color: #1d1f21;

h2 {
  font: futur;
  font-size: 200%;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: futur;
  src: asset-url('futura/futur.ttf');
}

p {
  font: futur;
  font-size: 120%;
  text-align: center;
}

body {
  background-color: $body-background-color;
  color: $body-text-color;
  background-size: 100%;
}

.values {
  font-size: 15px;
}

.btn-secondary {
  color: $body-background-color;
  background-color: $stange-color;
  border-color: $stange-color;
  }

.bg-dark {
  background-color: $stange-color;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: $another-color;
  box-shadow: inset 0 -2px 0 0 rgba(255,255,255,0.3);
}

.bg-dark-footer {
  background-color: $body-text-color;
}

a {
  color: $body-background-color;
  text-decoration: none;
  background-color: transparent;
}

#flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  grid-gap: 10%;
}

#flexbox > p {
  flex: 1 1 auto;
  width: 400px;
  height: 80px;
  font-size: 17px;
}
