// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #1b1b1b;
$gray: #e4e4e4;
$orange: #ff6d51;
$shadow1: rgba(0, 0, 0, 0.14);
$shadow2: rgba(0, 0, 0, 0.12);
$shadow3: rgba(0, 0, 0, 0.2);

body {
  background-color: $gray;
  font-family: "Futur";
}

h1 {
  font-size: 25px;
}

.project-flex {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  margin-right: 1%;
}

.statused-tickets {
  width: 20%;
}

.tickets {
  display: flex;
  flex-direction: row;
}

.single-project:first-child {
  flex-grow: 1;
}

.single-project:last-child {
  flex-grow: 0.5;
}

.div-flex {
  background-color: $orange;
  border-radius: 5px;
  box-shadow: 0 16px 24px 2px $shadow1, 0 6px 30px 5px $shadow2, 0 8px 10px -5px $shadow3;
  color: $black;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  padding-left: 5px;
  text-align: left;
  width: 60%;
}

.footer-bot {
  background: $black;
  bottom: 0;
  color: $gray;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.marg-left {
  margin-left: 10%;
}

.marg-right {
  margin-right: 10%;
}

.blask {
  color: $black;
}

.blask:hover {
  color: $black;
}

.blask-git {
  color: $gray;
}

.blask-git:hover {
  color: $gray;
}

.btn-git {
  background-color: $black;
  border-color: $orange;
  color: $gray;
}

a {
  background-color: transparent;
  color: $gray;
  text-decoration: none;
}

.btn-secondary {
  background-color: $orange;
  border-color: $orange;
  color: $gray;
}

.background-header {
  background-color: $orange;
}

.bg-dark-footer {
  background-color: $black;
}

.background-color-image {
  background-color: $orange;
}
