// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #1b1b1b;
$gray: #e4e4e4;
$orange: #ff6d51;

@font-face {
  font-family: futur;
  src: asset-url("futura/futur.ttf");
}

body {
  background-color: $gray;
  font-size: 25px;
}

html {
  height: 100%;
}


h1 {
  font-size: 70px;
  font-style: italic;
  font-weight: bolder;
}

.blask {
  color: $black;
}

.blask:hover {
  color: $black;
}

a {
  background-color: transparent;
  color: $gray;
  text-decoration: none;
}

.btn-secondary {
  background-color: $orange;
  border-color: $orange;
  color: $gray;
}

.background-header {
  background-color: $orange;
}

.bg-dark-footer {
  background-color: $black;
}

code {
  background-color: $black;
  border-radius: 5px;
  color: $gray;
  font-family: courier, monospace;
  padding: 0 3px;
}
