<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AgileCli</title>
    <%= stylesheet_link_tag 'manifesto' %>
</head>

<body>
  <header>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">AgileCli</a>
    </nav>
  </header>
  <!-- <p><%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %></p> -->
  <div id="flexbox">
    <h2>Manifesto for Agile Software Development</h2>
    <div class="values">
      <p><font size="+2 ">Individuals and interactions</font> over processes and tools</p>
      <p><font size="+2 ">Working software</font> over comprehensive documentation</p>
      <p><font size="+2 ">Customer collaboration</font> over contract negotiation</p>
      <p><font size="+2 ">Responding to change</font> over following a plan</p>
    </div>
    <h2>Principles behind the Agile Manifesto</h2><br>
    <p>Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</p>
    <p>Welcome changing requirements, even late in development. Agile processes harness change for the customer's competitive advantage.</p>
    <p>Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</p>
    <p>Business people and developers must work together daily throughout the project.</p>
    <p>Build projects around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</p>
    <p>The most efficient and effective method of conveying information to and within a development team is face-to-face conversation.</p>
    <p>Working software is the primary measure of progress.</p>
    <p>Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</p>
    <p>Continuous attention to technical excellence and good design enhances agility.</p>
    <p>Simplicity — the art of maximizing the amount of work not done —я is essential.</p>
    <p>The best architectures, requirements, and designs emerge from self-organizing teams.</p>
    <p>At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</p>
  </div>
</body>
</html>
