<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AgileCli</title>
    <%= stylesheet_link_tag 'manifesto' %>
</head>

<body>
  <header>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top background-header">
      <a class="navbar-brand" href="/">AgileCli</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline mt-2 mt-md-0">
        </form>
      </div>
    </nav>
  </header>
  <div class="manifesto">
    <h2>Manifesto for Agile Software Development</h2>
    <div class="values">
      <p><font size="+2 "><i>Individuals and interactions</i></font> over processes and tools</p>
      <p><font size="+2 "><i>Working software</i></font> over comprehensive documentation</p>
      <p><font size="+2 "><i>Customer collaboration</i></font> over contract negotiation</p>
      <p><font size="+2 "><i>Responding to change</i></font> over following a plan</p>
    </div>
    <h2>Principles behind the Agile Manifesto</h2><br>
    <p>Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</p>
    <p>Welcome changing requirements, even late in development. Agile processes harness change for the customer's competitive advantage.</p>
    <p>Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</p>
    <p>Business people and developers must work together daily throughout the project.</p>
    <p>Build projects around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</p>
    <p>The most efficient and effective method of conveying information to and within a development team is face-to-face conversation.</p>
    <p>Working software is the primary measure of progress.</p>
    <p>Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</p>
    <p>Continuous attention to technical excellence and good design enhances agility.</p>
    <p>Simplicity — the art of maximizing the amount of work not done — is essential.</p>
    <p>The best architectures, requirements, and designs emerge from self-organizing teams.</p>
    <p>At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</p>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark fixed-bot bg-dark-footer">
  <footer class="container">
    <p class="navbar-brand">AgileCli &copy; 2019 Rubizza &middot; <a href="https://github.com/rubizza-camp/AgileCli/blob/master/LICENSE">Terms</a></p>
    <p class="float-right"><a class="btn btn-secondary" href="#" role="button" >Back to top</a></p>
  </footer>
  </nav>
</body>
</html>
